* {
  margin: 0;
  padding: 0;
  border: none;
}

body {
  font-family: 'Noto Serif Georgian', Georgia, Times, serif;
  font-weight: 300;
  color: #3a3a3a;
}

/* Navigation Bar */
header {
  width: 100%;
  height: 90px;
  background-color: #fafafa;
  position: fixed;
  z-index: 10;
}

nav {
  height: 100%;
  display: flex;
}

.nav-bar {
  flex-direction: row;
  padding: 50px;
}

.title {
  padding-top: 25px;
  padding-left: 20px;
  text-decoration: none;
}

.logo {
  margin: 0 auto;
  padding: 2px 0px;
  height: 100px;
  text-align: center;
}

img {
  max-width: 100%;
  max-height: 100%;

}

.menu {

  padding: 15px 10px;
}

.menu li {
  list-style: none;
  float: left;
  padding-top: 20px;
  padding: 20px 10px 10px 10px;
  font-family: Oswald, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

nav a,
#rosary-text a {
  text-decoration: none;
}

nav a {
  font-family: 'Noto Serif Georgian', Georgia, Times, serif;
  font-size: 1.3em;
  color: #3a3a3a;
}

nav a:hover,
#rosary-text a:hover {
  color: #27bcda;
}

h1,
h2,
h3 {
  font-family: 'Lora', serif;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #252525;
  font-size: 2em;
}

/* Hero Image */
.banner {
  height: 62vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

#banner-image {
  max-width: 100vw;
  min-height: 85vh;
  background: url('/assets/images/Banner-Fatima-image.png') no-repeat center center;
  animation-name: banner-zoom;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

@keyframes banner-zoom {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.2);
  }
}

/* Main text area */
#main-content {
  position: relative;
  z-index: 1;
  background-color: #fafafa;
  padding: 0px 40px;
}

#main-content h2 {
  text-align: center;
  padding-top: 20px;
}

#main-content p {
  font-size: 1.2em;
  padding: 20px 100px;
}

em {
  font-weight: bold;
}

/*Eye Witness section*/
#eye-heading h2 {
  text-align: center;
  padding: 20px;
  position: relative;
  background-color: #fafafa;
}

#eye-witness {

  background-position: center;
  height: auto;
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  position: relative;
  background-color: #fafafa;
}

.eye-witness {
  color: #fafafa;
  background-color: rgba(0, 0, 0, .6);
  width: 33.3%;
  float: left;
  padding: 10px 0px;
  text-align: center;
  border: 2px solid white;
  box-sizing: border-box;
  background-image: url('../images/eye-witness-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;

}

.eye-accounts {

  text-align: left;
  padding: 20px 30px;
  font-size: 1.2em;
  line-height: 1.3;
  font-weight: bold;
}

.quote-by {
  padding: 10px;
  font-size: 1em;
  float: right;
}

/* Video Section */
#video {
  height: 450px;
  width: 100%;
  display: flex;
  position: relative;
  z-index: 1;
  background-color: #fafafa;
  padding: 40px;
}

.clip {
  margin: auto 0;
  text-align: center;
  flex: 1;
}

.clip-text {
  flex: 1;
  padding: 40px;
  overflow: auto
}

.clip-text h3 {
  text-align: center;
  font-size: 1.9em;
  line-height: 1.1em;
}

.clip-text p {
  line-height: 1.3em;
  padding: 20px 40px;
  font-size: 1.1em;
}

/* Rosary sign up section */
#rosary-sign {
  position: relative;
  max-width: 35vw;
  max-height: 40vh;
  padding: 10px 20px;
  margin: 0 auto;
  display: flex;
}

#rosary-text {
  position: absolute;
  max-width: 20vw;
  top: 40px;
  left: 40px;
  padding-top: 10px;
  padding-left: 10px;
  background-color: black;
  color: white;
  flex: 0 1 auto;
}

#rosary-text h4 {
  font-size: 1.5em;
  padding: 20px;
}

#rosary-text p {
  font-size: 1.2em;
  padding: 10px;
}

/* Footer section */
footer {
  background-color: #262626;
  position: absolute;
  color: #fff;
  padding-top: 20px;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 100vw;
}

.footer-content h3 {
  font-size: 2.1rem;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 3rem;
}

.footer-content p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
  color: #cacdd2;
}

.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}

.socials li {
  margin: 0 10px;
}

.socials a {
  text-decoration: none;
  color: #fff;
  border: 1.1px solid white;
  padding: 5px;
  border-radius: 50%;
}

.socials a i {
  font-size: 1.1rem;
  width: 20px;
  transition: color .4s ease;
}

.socials a:hover i {
  color: aqua;
}

.footer-menu {
  margin-bottom: 20px;
}

.footer-menu ul {
  display: flex;
}

.footer-menu ul li {
  padding-right: 10px;
  display: block;
}

.footer-menu ul li a {
  color: #cfd2d6;
  border: 1.3px solid white;
  padding: 6px 15px;
  border-radius: 50px;
  text-decoration: none;
}

.footer-menu ul li a:hover {
  color: #27bcda;
}

.footer-bottom {
  background: #000;
  width: 98%;
  padding: 20px;
  text-align: center;
}

.footer-bottom p {
  text-align: center;
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}

.footer-bottom p {
  color: #44bae8;
  font-size: 16px;
  text-decoration: none;
}

.footer-bottom span {
  text-transform: uppercase;
  opacity: .4;
  font-weight: 200;
}

/* Gallery Page*/
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial;
}

.header {
  text-align: center;
  padding: 32px;
}

.galleryRow {
  display: flex;
  flex-wrap: wrap;
  padding: 90px 50px 10px;
}

.galleryColumn {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.galleryColumn img {
  margin-top: 8px;
  vertical-align: middle;
}

.imageZoom {
  transition: transform .2s;
}

.imageZoom:hover {
  -ms-transform: scale(1.2);
  /* internet Explorer 9 */
  -webkit-transform: scale(1.2);
  /* Safari 3-8 */
  transform: scale(1.2);
}

/* Sign Up Page*/
body,
html {
  height: 100%;
}

.bg {
  background-image: url("/assets/images/basilica-fatima.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

* {
  box-sizing: border-box;
}

.container {
  position: absolute;
  right: 0px;
  top: 150px;
  margin: 150px;
  height: 500px;
  max-width: 500px;
  padding: 16px;
  background-color: white;
}

.container h1 {
  padding-bottom: 22px;
}

input[type=text] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus {
  background-color: #ddd;
  outline: none;
}

.btn {
  background-color: rgba(53, 148, 152, 255);
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.btn:hover {
  opacity: 1;
  color: #44bae8;
}

@media screen and (max-width: 1200px) {
  body {
    margin: 0 auto;
  }

  .clip-text h3 {
    font-size: 1.2em;
    line-height: 1em;
  }

  .clip-text p {
    line-height: 1.1em;
    font-size: 1em;
    padding: 10px;
  }

  #rosary-sign {
    display: flex;
    max-width: 40vw;
    min-height: 30vh;
  }

  #rosary-text {
    width: 20vw;
    min-height: 250px;
  }

  #rosary-text h4 {
    font-size: 18px;
    padding: 8px;
  }

  #rosary-text p {
    font-size: 16px;
    padding: 12px;
  }

  /*   Sign-up page */
  .container {
    right: 10px;
    top: 150px;
    margin: 10px;
    height: 450px;
    padding: 15px;
  }
}

@media screen and (max-width:950px) {

  /* Index Page */
  .menu li {
    padding: 20px 8px 10px;
  }

  nav a {
    font-size: 1em;
  }

  .eye-accounts {
    padding: 10px 15px;
  }

  .quote-by {
    font-size: 14px;
    padding-top: 30px;
  }

  #video {
    padding: 60px 35px;
  }

  #fatima-clip {
    max-width: 500px;
    max-height: 300px;
  }

  #rosary-sign {
    max-width: 50vw;
    min-height: 32vh;
  }

  /* Gallery page*/
  .galleryColumn {
    flex: 50%;
    max-width: 50%;
  }

  /*   Sign-up page */
  .container {
    top: 160px;
    margin: 10px;
    width: 300px;
    height: 500px;
  }
}

@media screen and (max-width: 800px) {

  /* Index Page */
  nav a {
    font-size: 0.8em;
  }

  #main-content p {
    padding: 20px 20px;
  }

  #eye-witness {
    flex-direction: column;
  }

  .eye-witness {

    width: 60%;
    margin: 0 auto;
  }

  .eye-accounts {
    font-weight: bold;
    font-size: 1.1em;
  }

  .clip-text {
    padding: 10px;
    margin-bottom: 10px;
  }

  .clip-text p {
    padding: 0px 5px;
  }

  #rosary-text {
    padding: 0px;
    width: 50%;
    height: 50%;
  }

  /* Gallery */
  .galleryColumn {
    flex: 100%;
    max-width: 100%;
  }

  /*   Sign_up Page */
  .container {
    top: 200px;
    width: 300px;
    height: 510px;
  }
}

@media screen and (max-width: 600px) {

  /* Index Page */
  .logo {
    height: 90px;
  }

  h1,
  h2,
  h3 {
    letter-spacing: 4px;
    font-size: 1.5em;
  }

  header {
    max-width: 600px;
    max-height: 80px;
  }

  .title {
    padding-top: 25px;
    padding-left: 20px;
    flex: 26%
  }

  .logo {
    flex: 30%;
  }

  .menu li {
    padding: 12px 15px 0px 1px;
  }

  #banner-image {
    min-height: 100%;
    max-width: 100%;
  }

  .eye-witness {
    flex: 50%;
    flex-direction: column;
  }

  .eye-accounts {
    padding: 10px;
    font-size: 1em;
    line-height: 1.2em;
  }

  .quote-by {
    padding: 10px 10px;
  }

  #video {
    max-height: 500px;
    padding: 10px;
    margin: auto 0;
    flex-direction: column;
  }

  .clip-text {
    padding: 20px;
  }

  #rosary-sign {
    max-width: 80vw;
    min-height: 33vh;
    padding: 50px;
  }

  #rosary-text {
    top: 60px;
    left: 50px;
    max-width: 80%;
    max-height: 90%;
  }

  #rosary-text p {
    font-size: 0.9em;
  }
}